@model MVC_Model_building_ex.Models.Product;

<h1>product details </h1>

<h1>Product Id: @Model.ProductId</h1>

<h1>Product name: @Model.ProductName</h1>

<h1> Pricw :@Model.ProductPrice</h1>

<h1>Category : @Model.proCate</h1>
