<h1>Date:@ViewData["date"]</h1>
<br>

<h1>My Details are: <br ></h1>

<h2>name:@ViewData["name"]</h2><br>

<h2>email:@ViewData["email"]</h2>
<br>

<h2>Phone Number:@ViewData["phone"]</h2>
<br>

<h2>DOB:@ViewData["DOB"]</h2>
<br>

