@model MVC_Model_building_ex.Models.Employee
<h1>the employee model is binded with this view</h1>

  <h1>Employee Details are </h1>
<h2>Id           :@Model.id</h2>
<h2>Name        :@Model.name</h2>
<h2>Designation :@Model.designation</h2>
<h2>Salary      :@Model.salary</h2>