@{

	Layout ="~/Views/Shared/myLayout.cshtml";
}<
<h1>About Us </h1>
<div class="container">
	<p>Larsen & Toubro Infotech Limited (LTI) is an Indian multinational information technology services and consulting company based in Mumbai, India. In 2017, NASSCOM ranked LTI as the sixth-largest Indian IT services company in terms of export revenues. The company was among the top 15 IT service providers globally in 2017, according to the Everest Group's PEAK Matrix for IT service providers.</p>
</div>