<h1>This is the details of the product </h1>
@{
	var pro = ViewData["product"] as Product;

}

<h2>Product Id   : @pro.ProductId</h2>
<h2>Product Name : @pro.ProductName</h2>
<h1>Product Cost : @pro.ProductPrice</h1>
<h2>Category     : @pro.proCate</h2>
