@model MVC_DBFirst_practice.Models.Product;


<h1 class="align-content-center bg-primary border-bottom ">Create New Record of Product</h1>
<hr />
<div class="row">
    <div class="col-md-6 mx-auto">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <table class="table table-striped table-bordered">
                <tr>
                    <td>
                        <div class="form-group">
                            <label asp-for="productid" class="control-label"></label>
                            <input asp-for="productid" class="form-control" />
                            <span asp-validation-for="productid" class="text-danger"></span>

                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label asp-for="productname" class="control-label"></label>
                            <input asp-for="productname" class="form-control" />
                            <span asp-validation-for="productname" class="text-danger"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label asp-for="price" class="control-label"></label>
                            <input asp-for="price" class="form-control" />
                            <span asp-validation-for="price" class="text-danger"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label asp-for="catid" class="control-label"></label>
                            <select asp-for="catid" asp-items=@ViewBag.cat>
                                <option value="">Choose Category</option>
                            </select>
                            <span asp-validation-for="catid" class="text-danger"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>

                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary pl-5 pr-5" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <a asp-action="Index">Back to List</a>
                        </div>
                    </td>
                </tr>

            </table>




        </form>
    </div>
</div>



